.box {
	text-align: start;
}

.button {
	margin-top: 1rem;
}

.room-link{
	padding-bottom: 2em;
	margin-bottom: 	1.5em;
}

.room-link:hover {
	background-color: #FFF;
}

.inbox-menu {
	height: 100vh;
	padding-top: 100px; 
}

@media only screen and (min-width : 768px) {
	.inbox-menu {
		padding-top: 100px;
		padding-left: 20px;
		padding-right: 20px; 
	}
}