.box {
	text-align: start;
}

.button {
	margin-top: 1rem;
}

.room-link{
	padding-bottom: 2em;
	margin-bottom: 	1.5em;
}

.room-link:hover {
	background-color: #FFF;
}

.inbox-menu {
	height: 100vh;
	padding: 1.5rem;
	padding-top: 150px; 
}

@media only screen and (min-height : 769px) {
	.inbox-menu {
		padding: 150px;
	}
}