.button{
	background: #48c710;
	border: none ;
	color: white;
}

.feature {
	min-height: 50rem;
	margin-top: 15rem;
	margin-bottom: 15rem;
}

.card{
	padding: 3px;
}

.img-container{
	padding-left: 2rem;
	padding-right: 2rem;
}

.home{
	margin-top: 10rem;
}

.img-section{
	padding-bottom: 50px;
}