.section {
	display: flex;

}

.title-div{
	text-align: center;
	padding-top: 4rem;
}

.container{
	margin: auto;
	justify-content: center;
}

.messagefield{
	height: 5rem;
	overflow-y: scroll;
}

.message-box{
	margin: 0 auto;
}

.box {
	text-align: left;
	padding: 0;
	margin: 0;
}


.chat-display {
	display: flex;
	/*position: relative;*/
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column-reverse;
	height: 50vh;
	padding: 2rem;
	margin-bottom: 0;
	overflow: scroll;
	background-color: #f5f5f5;
	margin: 0 auto;
}

.chat-display::-webkit-scrollbar {
	display: none;
}

.chat-display:nth-child{
	flex: 1;
	order: 1;
}

.textarea {
	margin-bottom : 1rem;
}

.window-container {
	height: 100vh;
	padding-top: 100px;
}

input {
	border-radius: none;
}