.navbar {
	background: #123;	
}


@media only screen and (min-width: 1023px){
	.navbar-end{
		margin-left: 45rem;
	}

	.navbar-start{
		margin-left: 25rem;
	}

}

.logo{
	height: 30px;
	width: 30px;
	margin: auto 15px;
}