.navbar {
	background: #123;	
}


@media only screen and (min-width: 1023px){
	.navbar-end{
		padding-right: 35rem;
	}

	.navbar-start{
		padding-left: 35rem;
	}

}



.navbar-menu{
	background: #123;
}

.navbar-burger{
}
